.abus_bottom_content{

    padding: 20px;
    margin-top: 40px;
}
.abus_bottom_header{
    
}
.abus_bottom_header_text{
    

}
.abus_bottom_img_desc{
    justify-content: center;
    align-items: center;
    display: inline-flex;

}
.abus_bottom_img_container{
    
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-image: url(../../src/abus_img.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    
}
/* .abus_bottom_img{
    height: 600px;
} */
.abus_bottom_text_container{
    padding: 10px;
    
    width: 50%;
}
.abus_bottom_text{
    text-align: start;
    margin-bottom: 30px;
}



.bottom_list_container{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 30px;
    width: 100%;

}

.bottom_list_1{
    padding: 10px;
    height: 300px;
    margin: 30px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.list_icon_container{
    width: min-content;
    position: relative;
    top: -60px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: white;
    cursor: pointer;
}
.list_header_contaier{
    text-align: center;
    margin-bottom: 30px;
}
.list_description{
    text-align: center;
}
 @media only screen and (max-width:791px){
    .abus_bottom_img_container {
        width: 100%;
    }

    .abus_bottom_img_desc {
        flex-direction: column;
    }
    .abus_bottom_text_container{
        width: 100%;
    }
    

 }
 @media only screen and (max-width:336px){
    .abus_bottom_img_container {
        margin: 0px;
    }
    .abus_bottom_content {
        padding: 10px;
        margin-top: 20px;
    }
 }

 @media only screen and (max-width:891px){
    .list_header_text {
        font-size: 16px;
    }
    .bottom_list_1 {
        margin: 15px;
    }
}
@media only screen and (max-width:891px){
    .list_header_text {
        font-size: 16px;
    }
    .bottom_list_1 {
        margin: 15px;
    }
}
@media only screen and (max-width:783px){
    .bottom_list_container {
        flex-direction: column;
    }
    .bottom_list_1 {
        width: 100%;
        margin: 0;
        margin-bottom: 87px;
    }
    .list_header_text {
        color: red;
        font-size: 20px;
    }
}
@media only screen and (max-width:388px){
    .list_header_text {
        font-size: 18px;
    }
 }
 @media only screen and (max-width:307px){
    .list_header_text {
        font-size: 16px;
    }
    .abus_bottom_content {
        padding: 10px;
        margin-top: 0px;
    }
 }

 @media only screen and (max-width:273px){
    .list_description_text {
        font-size: 13px;
    }
 }

 @media only screen and (max-width:261px){
    .list_header_text {
        font-size: 16px;
    }
    .list_description_text {
        font-size: 12px;
    }
 }

 @media only screen and (max-width:222px){
    .list_header_text {
        font-size: 14px;
    }
    .list_description_text {
        font-size: 11px;
    }
 }
 @media only screen and (max-width:206px){
    .list_header_text {
        font-size: 12px;
    }
    .list_description_text {
        font-size: 10px;
    }
 }