.filter_container{
    
}
.filter{
    align-items: center;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.checkbox-icon{
    height: 50px;
}
.checkbox-wrapper-16{
    margin: 20PX;
}















.checkbox-wrapper-16 *,
.checkbox-wrapper-16 *:after,
.checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: #fc0606;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #ff2222;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #ff2222;
  border-color: #ff2222;
}
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #ff2222;
}
/* .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: #ff2222;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
} */
.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #ff2222;
}
.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}
.checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-wrapper-16 .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

/************************************************** PHONE FILTER SETTINGS ***************************************************/
.phone_filter{
  margin: 10px;
  padding: 10px;
  display: none;
}
.phone_filter_logo_container{
  text-align: center;
  border: 1px solid black;
  width: 100%;
  color: rgb(163, 0, 0);
  font-size:50px;
}
.phone_filter_options_container{
  overflow: hidden;
  display: none;
  border-bottom-right-radius: 37px;
  border-bottom-left-radius: 37px;
  z-index: 10;
  background: #000000;
  left: 0;
  width: 100%;
  display: none;
  position: absolute;
  animation-name: filter_show;
  animation-duration: 1s;

}

@keyframes filter_show{
  from{
      height: 1rem;
  }
  to{
      height: 43rem;
  }
}
/* .phone_filter_checkpox_border .phone_filter_wrapper{
width: 100%;
} */

@media only screen and (max-width:764px){
  .filter{
    display: none;
  }
  .phone_filter{
    display: block;
  }
  .checkbox-wrapper-16 .checkbox-tile {
    width: 100%;
  }
}