.middle_content{}
.product_list{

  
    bottom: -100%;
    opacity:0;
    animation: smooth-appear 1s ease forwards; 
    padding: 10px;
}
.product_container{
    cursor: pointer;
    height: 400px;
    width: 30.33%;
    margin: 20px;
    
    padding-right: 10px;
    border: 2px solid rgba(0, 0, 0, 0.329);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.8s;

    
}
.product_container:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product_image_container{
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    margin-right: 10px;
}
.product_img{

    height:100%;
}
.product_img:hover{
    
}
.product_description{
    /* width: 50%; */
}
.product_name{
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.product_properties_container{
    
    /* padding: 20px; */
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.product_propertie{
    margin-top: 6px;
    margin-bottom: 6px;
    list-style: none;
    
}

.product_propertie:before {
    
    content: '✓';
    color: green;
    
}
.product_price{}



@keyframes smooth-appear {
    to{
      bottom: 20px;
      opacity:1;
    }
  }

/********************************** PHONE SETTINGS **********************************/

.phone_nav{
    display: none;
}
.phone_nav_icon_container{
    color: white;
    font-size: 50px;
}
.phone_navigation_options_container{
    z-index: 10;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background: black;
    height: 17.7rem;
    left: 0;
    /* top: 100%; */
    width: 100%;
    display: none;
    animation-name: navbat_show;
    animation-duration: 1s;
}

@keyframes navbat_show{
    from{
        height: 0.7rem;
    }
    to{
        height: 17.7rem;
    }
}



/********************************** PHONE SETTINGS **********************************/



@media only screen and (max-width:1443px){
    
    .product_container {
        width: 29%;
    }
    .product_propertie {
        font-size: 16px;
    }
}

@media only screen and (max-width:1116px){
        .navigation_options_container{
            
            display: none;
        }
        .phone_nav{
            display: block;
        }
    }

@media only screen and (max-width:1227px){
    .product_name{
        font-size: 20px;
    }
    
    .product_container {
        width: 29%;
    }
    .product_propertie {
        font-size: 14px;
    }
}
@media only screen and (max-width:1012px){
    .product_name{
        font-size: 20px;
    }
    .product_container {
        width: 28%;
    }
    .product_propertie {
        font-size: 14px;
    }
    .product_price{
        font-size: 17px;
    }
}
@media only screen and (max-width:829px){
    .product_name{
        font-size: 16px;
    }
    .product_container {
        width: 27%;
    }
    .product_propertie {
        font-size: 12px;
    }
    .product_price{
        font-size: 17px;
    }
}
@media only screen and (max-width:818px){
    .product_propertie {
        font-size: 11px;
    }
}
@media only screen and (max-width:763px){
    .product_container {
        padding-right: 0px;
        justify-content: center;
        align-items: center;
        height: 500px;
        display: inline-flex;
        flex-direction: column;
    }
    .product_image_container{
        height: 50%;
        width: 100%;
    }
    .product_description{
        width: 100%;
        height: 50%;
    }
    .product_description{
        height: 50%;
    }
    .product_properties_container {
        height: 178px;
    }
    .product_name {
        text-align: center;
        font-size: 15px;
    }
    .product_properties_container {
        text-align: center;
    }
    .product_price{
        text-align: center;
    }
    
    
}
@media only screen and (max-width:703px){
    .product_container {
        
        display: inline-flex;
        width: 40%;
    }
    .product_list{

  
        text-align: center;
    }
    
    
}
@media only screen and (max-width:690px){
    .product_container {
        margin: 16px;
    }
    
    
}

@media only screen and (max-width:563px){
    .product_image_container {
        height: 34%;
       
    }
    .product_container {
        height: 450px;
    }
    .product_name {
        font-size: 11px;
    }
    .product_container {
        height: 456px;
    }
    .product_properties_container {
        height: 204px;
    }
    .product_container {
        margin: 11px;
    }
    /* .product_container {
        margin: 12px;
    }
    .product_properties_container {
        height: 207px;
    }
    .product_container{
        height: 623px;
    } */
    
    
}


@media only screen and (max-width:563px){
    .product_propertie {
        font-size: 11px;
    }
    .product_name {
        height: 31px;
        font-size: 11px;
    }
    .product_image_container {
        height: 30%;
    }
}

@media only screen and (max-width:420px){
    .product_propertie {
        font-size: 10px;
    }
    .product_name {
        height: 31px;
        font-size: 11px;
    }
    .product_image_container {
        height: 27%;
    }
    .product_container {
        height: 400px;
        margin: 6px;
    }
    .product_properties_container {
        height: 172px;
    }
}
@media only screen and (max-width:366px){
    .product_propertie {
        font-size: 9px;
    }
}
@media only screen and (max-width:270px){
    .product_propertie {
        font-size: 8px;
    }
    .product_price {
        font-size: 15px;
    }
}
@media only screen and (max-width:231px){
    .product_propertie {
        font-size: 7px;
    }
    .product_price {
        font-size: 14px;
    }
}
@media only screen and (max-width:207px){

    .product_price {
        font-size: 13px;
    }
}
@media only screen and (max-width:197px){

    .product_price {
        font-size: 10px;
    }
}


/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */